<div class="modal inmodal" id="modalClassesSubjects" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated fadeIn">
			<form name="fForm" ng-submit="onsubmit_fForm()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">{{$root.modalTitle}}</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="" class="col-sm-3">Học kỳ</label>
							<div class="col-sm-9">
								<select class="form-control" ng-change="onchange_Semester(classSubject)" ng-model="classSubject.ClaSub_Semester" required>
									<option value="">== Chọn ==</option>
									<option ng-repeat="item in $root.seed.SEMESTERS" ng-value="item.id" ng-bind="item.name"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Môn học</th>
									<th>Chọn</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in subjects">
									<td ng-bind="$index + 1"></td>
									<td ng-bind="item.Sub_Name"></td>
									<td class="text-center">
										<input type="checkbox" ng-change="oncheck_Subject(item)" ng-model="item.IsChecked">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="submit">Lưu</button>
						<button class="btn btn-white" type="button" data-dismiss="modal">Hủy</button>
					</div>
			</form>
		</div>
	</div>
</div>